@{
    ViewBag.Title = "PlayVideo";
}

@section Css {
    <link href="@Url.Content("~/Content/video-js.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/video-js-skins/hu.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/video-js-skins/tube.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/video-js-skins/vim.css")" rel="stylesheet" type="text/css" />
}
@section Script {
    <script src="@Url.Content("~/Scripts/video.js")" type="text/javascript"></script>
    <script type="text/javascript">
        VideoJS.setupAllWhenReady();
    </script>
}
<h2>PlayVideo</h2>
<div class="video-js-box">
  <video class="video-js" width="640" height="480" controls preload="auto" poster="@Url.Content("~/Content/video/logo300x200.png")">
    <source src="@Url.Action("Video", new { @type = "mp4", @name= ViewBag.VideoName })" type='video/mp4' />
    <source src="@Url.Action("Video", new { @type = "webm", @name= ViewBag.VideoName })" type='video/webm' />
    <source src="@Url.Action("Video", new { @type = "ogg", @name= ViewBag.VideoName })" type='video/ogg' />
    <!-- Flash Fallback. Use any flash video player here. Make sure to keep the vjs-flash-fallback class. -->
    <object class="vjs-flash-fallback" width="640" height="264" type="application/x-shockwave-flash" data="@Url.Content("~/Swf/flowplayer-3.2.7.swf")">
      <param name="movie" value="@Url.Content("~/Swf/flowplayer-3.2.7.swf")" />
      <param name="allowfullscreen" value="true" />
      <param name="flashvars" value='config={"playlist":["@Url.Content("~/Content/video/oceans-clip.png")", {"url": "@Url.Content("~/Content/video/oceans-clip.mp4")","autoPlay":false,"autoBuffering":true}]}' />
      <!-- Image Fallback. Typically the same as the poster image. -->
      <img src="@Url.Content("~/Content/video/oceans-clip.png")" width="640" height="264" alt="Poster Image" title="No video playback capabilities." />
    </object>
  </video>
</div>